{{#if this.hasTopicAlarm}}
  <div class="topic-alarm">
    <div class="topic-alarm-time">
      {{d-icon "discourse-bookmark-clock"}}
      {{this.existingAlarmAtFormatted}}
    </div>
    <div class="topic-alarm-description">
      {{this.topicAlarmDescription}}
    </div>
  </div>
{{/if}}